[Unit]
Description=Configure Wi-Fi from /boot/wifi_credentials.txt
# This service should run after the basic network services are up,
# but before the main network target is reached.

After=network-pre.target
Before=network.target
Wants=wpa_supplicant.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-wifi.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

